extends layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each article of articles.all.articles
          each comment of article.comments
            li.publication__list-item
              .publication__header
                +insertUserAvatarSmallImage(comment.users)
                b.publication__list-name #{comment.users.firstName} #{comment.users.lastName}
                time.publication__item-time(datetime=`${comment.createdAt}`) #{formatDate(comment.createdAt)}
              a.publication__item-text(href=`/articles/${article.id}`)
                | #{article.title}
              p.publication__text-strong
                | #{comment.text}
              a.publication__button.button.button--close-item(href=`/articles/${article.id}/comments/${comment.id}`)
                span.visually-hidden Закрыть строку списка
