doctype html
.wrapper
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content='Личный блог Типотека')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Типотека
    link(rel='stylesheet' href='/css/style.min.css')
    style.
      a.pagination__item--active{
        pointer-events: none;
      }
      .server-error{
        border-radius: 10px;
        color: white;
        background-color: tomato;
        margin: 20px 0;
        padding: 10px;
      }
      .new-publication__category-wrapper input:checked~label {
        border: 2px solid blue;
      }
      .image__small--size {
        height: 240px;
        margin: auto;
      }
      .image__avatar--size {
        border-radius: 50px;
        height: 100%;
      }
      .button--edit-item {
        right: 50px;
        width: 30px;
        height: 35px;
        border-radius: 0%;
        border: 0;
        background: url(../img/icons/page.svg) no-repeat center;
        background-color: #bdbdbd;
      }
  body
    -
      const formatDate = (dateString) => {
        const date = new Date(dateString);
        return date.toLocaleString('ru-RU', {day: '2-digit', month: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit'});
      }
    mixin insertErrorMessage(messages)
      if messages
        each message of messages
          .server-error= message
    mixin insertUserAvatarFullImage(user)
      img.image__avatar--size(src=`/img/${user.avatar ? user.avatar : 'avatar-1.png'}` width='50' height='50' alt='Аватар пользователя')
    mixin insertUserAvatarSmallImage(user)
      img.image__avatar--size(src=`/img/${user.avatar ? user.avatar : 'avatar-1.png'}` width='20' height='20' alt='Аватар пользователя')
    mixin insertUserAvatarMiniImage(user)
      img.last__list-image(src=`/img/${user.avatar ? user.avatar : 'avatar-1.png'}` width='20' height='20' alt='Аватар пользователя')
    mixin insertArticleFullImage(article)
      img(src=`/img/${article.picture ? article.picture : 'sea-fullsize@1x.jpg'}` alt=article.title)
    mixin insertArticleSmallImage(article)
      img.preview__background-image.image__small--size(src=`/img/${article.picture ? article.picture : 'sea-fullsize@1x.jpg'}` alt=article.title)
    mixin pagination(page, totalPages, width, prefix)
      -
        let start = page - width;
        let end = page + width;
        if (start < 1) {
          end += 1 - start;
          start = 1;
        }
        if (end > totalPages) {
          start -= end - totalPages;
          end = totalPages;
        }
        if (start < 1) {
          start = 1;
        }
        let i = start - 1

      .preview__toggle-wrapper
        ul.preview__pagination.pagination
          if (start > 1)
            li
              a.pagination__button.button.button--backwards(href=`${prefix}page=${page - 1}` aria-label='Страница назад') Назад
          while i++ < end
            if (i === page)
              li.pagination__item.pagination__item--active
                a()= i
            else
              li.pagination__item
                a(class={} href=`${prefix}page=${i}`)= i
          if end < totalPages
            li
              a.pagination__button.button.button--forward(href=`${prefix}page=${page + 1}` aria-label='Страница вперед') Вперёд

    include partials/header.pug
    block content
    include partials/footer.pug
    script(src="/nodejs/3/js/vendor.js")
    script(src="/nodejs/3/js/main.js")
